@import "tailwindcss";
@plugin "tailwind-scrollbar";

@layer base {
  * {
    @apply scrollbar-thin scrollbar-thumb-zinc-700 scrollbar-track-transparent;
    &::-webkit-scrollbar {
      width: 4px !important;
      max-height: 4px !important;
    }
    &::-webkit-scrollbar-track {
      margin-inline: calc(50% - 40px) !important;
      border-radius: 100px !important;
    }
    &::-webkit-scrollbar-thumb {
      margin-inline: calc(50% - 40px) !important;
      border-radius: 100px !important;
    }
  }
}

@layer utilities {
  .scrollbar-short {
    &::-webkit-scrollbar {
      height: 4px !important;
      display: block !important;
    }

    &::-webkit-scrollbar-track {
      margin-inline: calc(50% - 40px) !important;
      border-radius: 100px !important;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px !important;
    }
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

body,
#root {
  margin: 0px;
  padding: 0px;
  background-color: #0f0f0f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


div,
section {
  transition: all 0.5s ease;
}

button:disabled {
  opacity: 0.5;
}
.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@theme {
  --color-bgprimary: #0f0f0f;
  --color-primary: #ff0033;
  --color-secondary: white;
  --color-tertiary: #2da6ff;
  --color-border: #222222;
  --color-text: white;
  --color-txlight: #aaaaaa;
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromLeftReverse {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromDown {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromUp {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes visibleIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes visibleOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes book {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  75% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
