name: Deploy UniTube
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Execute Remote Deploy Script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          timeout: 60s             # Wait longer for the handshake
          command_timeout: 10m     # Give time for npm install to finish
          debug: true              # This is critical to see WHY it fails
          script: bash ~/deploy.sh